# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches: 
      - main
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  glitch-job:
    name: deploy to glitch
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Glitch Project Sync
      # You may pin to the exact commit or the version.
      # uses: kanadgupta/glitch-sync@739600fbeefa6554c49ef5b770d26a8409cf5841
      uses: kanadgupta/glitch-sync@v1.0
      with:
        # ID of your Glitch Project
        project-id: '${{ secrets.projectId }}'
        # Auth token for your Glitch Project
        auth-token: '${{ secrets.authToken }}'
